
.input_icons i {
  position: absolute;
  margin: 14px;
}

.input_icons {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input_field {
  width: 100%;
  padding: 10px;
  text-indent: 30px;
  border:1px solid rgb(243, 242, 242);
  border-radius:10px;

}
.input_field:focus {
  outline: none;
}
